html, body {
    min-height: 100%;
}

body{
    background-color: rgba(0, 153, 255, 0.849);
    font-family: "Geist", sans-serif;
}

.circular{
    border-radius: 50%;
    shape-outside: circle(50%);
}

button{
    background-color: rgb(210, 9, 210);
    top: 50%;
    left: 50%;
}